<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="3b4ffa2d-b0fc-442c-ae32-6c0b387ae679"
            Publisher="CN=sivijaya"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>OneBusAway.Tests</DisplayName>
    <PublisherDisplayName>sivijaya</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="OneBusAway.Tests.App">
        <VisualElements
            DisplayName="OneBusAway.Tests"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="OneBusAway.Tests"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>