<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e61b6d92-b913-4828-8ebb-982fac94976d" Publisher="CN=mbraude" Version="1.0.0.0" />
  <Properties>
    <DisplayName>OneBusAway</DisplayName>
    <PublisherDisplayName>mbraude</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="OneBusAway.App">
      <VisualElements DisplayName="OneBusAway" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="OneBusAway" ForegroundText="light" BackgroundColor="#78AA36">
        <DefaultTile ShowName="allLogos" ShortName="OneBusAway" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#78AA36" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>